.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none !important;
    -webkit-user-select: none !important;
    padding-top: 30px;
}

.contactCard {
    background: rgba( 0, 0, 0, 0.3 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    width: 360px;
    height: 80px;
}

    