.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none !important;
    -webkit-user-select: none !important;
    padding-top: 30px;
}

.contactCard {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    width: 360px;
    height: 80px;
}

.contactCardQuickAction {
    background: #03030336;
    border: 1px solid #4c4c4c;
    position: absolute;
    text-align: center;
    color: #FFF;
    top: 30px;
    width: 35px;
    height: 35px;
    border-radius: 10px;
}