@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');


* {
  margin: 0;
  padding: 0;
  outline: none;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #353535;
  min-height:2200px;
}

.container {
  width: 295px;
  height: 500px;
  margin: 30px auto;
}

.card {
  border-radius: 25px;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

.card-head {
  position: relative;
  height: 252px;
  background: #fa782e;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fa782e 8%, #c82930 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #54b583 8%, #6b79b1 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}

.card-logo {
  width: 55px;
  margin: 20px;
}

.product-img {
  position: absolute;
  left: 0;
  margin-top: -16px;
  margin-left: 50px;
  z-index: 2;
}

.product-detail {
  padding: 0 20px;
  font-size: 11px;
  color: #fff;
}

.product-detail h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.back-text {
  display: inline-block;
  font-size: 125px;
  font-weight: 900;
  margin-left: -7px;
  margin-top: -12px;
  opacity: 0.1;
}

.card-body {
  height: 265px;
  background: #fff;
  border-radius: 0 0 25px 25px;
}

.product-title {
  padding: 20px 20px 5px 20px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.product-title b {
  font-weight: 900;
  letter-spacing: 0px;
}

.badge {
  position: relative;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  background: #d88e3d;
  padding: 2px 5px;
  border-radius: 4px;
  top: -2px;
  margin-left: 5px;
}

.product-caption {
  display: block;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.product-rating {
  padding: 0 20px;
  font-size: 11px;
}

.product-rating i.grey {
  color: #acacab;
}

.product-size h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.ul-size {
  margin-left: 15px;
}

.ul-size li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-size li a {
  display: inline-block;
  text-decoration: none;
  font-size: 11px;
  width: 48px;
  height: 22px;
  border-radius: 25px;
  text-align: center;
  line-height: 23px;
  color: #000;
}

.ul-size li a.active {
  background: #6979ff;
  color: #fff;
}

.product-size:before,
.product-size:after {
  content: '';
  display: block;
  clear: both;
}

.product-color h4 {
  font-size: 11px;
  padding: 0 21px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.ul-color {
  margin-left: 27px;
}

.ul-color li {
  list-style: none;
  float: left;
  margin-right: 20px;
}

.ul-color li a {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.ul-color li a.orange {
  background: #f35e3d;
}

.ul-color li a.green {
  background: #11e95b;
}

.ul-color li a.yellow {
  background: #ffd414;
}

.ul-color li a.active:after {
  position: absolute;
  content: '';
  display: inline-block;
  border: 1px solid #f35e3d;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-left: -5px;
  margin-top: -5px;
}

.product-price {
  position: absolute;
  background: #11e95b;
  padding: 7px 20px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  border-radius: 7px;
  margin-top: -13px;
  margin-left: -5px;
  box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}

.product-price b {
  margin-left: 5px;
}



.yt
{
  position: fixed;
  padding:7px 10px 3px 10px;
  top: 5px;
  right: 5px;
  background: rgba(0,0,0,0.1);
}

.yt:hover
{
  background: rgba(0,0,0,0.2);
}

*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* fill: #ddd6d9; */
}


.menu__bg{
	position: relative;
	width: 35px;
	height: 35px;
	overflow: hidden;
	background-color: #ddd6d9;
	cursor: pointer;
}
.menu__bg:hover::before{
	content: '';
	position:absolute;
	width: 200%;
	height: 400%;
	left: 0;
	top: 0;
	background-image: linear-gradient(45deg, #53ffb7, #a0c6ff , #d9f9ff);
	animation: bg-1 1s infinite alternate;
}
.menu__bg:hover::after{
	content: '';
	position:absolute;
	left: 0;
	top: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	filter: blur(2px);
	background-color: rgba(221, 214, 217, .7);
	animation: bg-2 4s infinite ;
}
.menu__icon{
	width: 100%;
	height: 100%;
	position: relative;
	object-fit: contain;
	z-index: 1000;
}
.big{
	width: 50px;
	height: 50px;
}
@keyframes bg-1 {
	0%{ top: -300%; }
	100%{ top: 0%; }
}
@keyframes bg-2 {
	0%{ top: 20%; left: 20%}
	25%{ top: 80%; left: 80%;}
	50%{ top: 80%; left: 20%;}
	75%{ top: 30%; left: 80%;}
}
@keyframes an {
	0%{ width: 100%; height: 100%;}
	100%{ width: 100%; height: 100%; }
}

@media (prefers-color-scheme: light) {
  .RDXTOPBAR{
    width: 100%;
    height: 180px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 125, 217, 255, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: -135;
    position: fixed;
    z-index: 999;
  }  


  .menu{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 302px;
	height: 70px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0 0 30px rgba(176, 113, 140, 0.35);
  }

  .RDXMENUDIVIDER {
    border: 1px solid #adadad;
    border-radius: 50px;
    width: 30%;
    margin: 0 35% 8 35%;
    visibility: hidden;
  }
}

@media (prefers-color-scheme: dark) {
  .RDXTOPBAR{
    width: 100%;
    height: 180px;
    background: rgba( 0, 0, 0, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: -135;
    position: fixed;
    z-index: 999;
  }
    
  .menu{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 302px;
	height: 70px;
	border-radius: 20px;
	background: rgb(27 27 27 / 75%);
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 18px );
	-webkit-backdrop-filter: blur( 18px );
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	}

  .RDXMENUDIVIDER {
    border: 1px solid #3e3e3e;
    border-radius: 50px;
    width: 30%;
    margin: 0 35% 8 35%;
    visibility: hidden;
  }
}

.RDXSORT-AP{
  font-size: 6px;
  font-weight: 800;
  /* background: -webkit-linear-gradient(    45deg, #8df9ea, #92a3f4 80%); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
  position: relative;
  font-family: sans-serif;
  font-weight: 1000;
  visibility: hidden;
}

.RDXSORT-YZY{
    font-size: 6px;
    font-weight: 800;
    background: -webkit-linear-gradient(    45deg, #8df9ea, #92a3f4 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; 
    text-align: center;
    position: relative;
    font-family: sans-serif;
    font-weight: 1000;
    visibility: hidden;
}

.RDXSORT-AJ {
    font-size: 6px;
    font-weight: 800;
    background: -webkit-linear-gradient(    45deg, #92a3f4, #92d9f4 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
    position: relative;
    font-family: sans-serif;
    font-weight: 1000;
    visibility: hidden;
}

.RDXSORT-OW {
    font-size: 6px;
    font-weight: 800;
    background: -webkit-linear-gradient(    45deg, #92a3f4, #92d9f4 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;  
    text-align: center;
    position: relative;
    font-family: sans-serif;
    font-weight: 1000;
    visibility: hidden;
}


.RDXSORT-OTHER {
    font-size: 6px;
    font-weight: 800;
    background: -webkit-linear-gradient(    45deg, #92a3f4, #92d9f4 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
    position: relative;
    font-family: sans-serif;
    font-weight: 1000;
    visibility: hidden;
}

.RDXTOPBAR.clicked .RDXSORTBUTTON{
    fill: #dbf5ff;
    transition: 100ms;
}

.RDXTOPBAR.clicked {
    height: 340px;
    transition: 130ms;
  }

 .RDXTOPBAR.clicked .RDXSORT-AP{
   font-size: 14px;
   visibility: visible;
   transition: 130ms;
 }

 .RDXTOPBAR.clicked .RDXSORT-YZY{
    font-size: 14px;
    visibility: visible;
    transition: 130ms;
}

 .RDXTOPBAR.clicked .RDXSORT-AJ{
    font-size: 14px;
    visibility: visible;
    transition: 130ms;
}

 .RDXTOPBAR.clicked .RDXSORT-OW{
    font-size: 14px;
    visibility: visible;
    transition: 130ms;
}

.RDXTOPBAR.clicked .RDXSORT-OTHER {
	font-size: 14px;
    visibility: visible;
    transition: 130ms;
}

.RDXSALENUM{
	position: static;
	font-size: 16px;
	color: #FFFFFF;
	font-family: system-ui;
	font-weight: bold;
}

.RDXSALECAPTION{
	position: static;
	font-size: 10px;
	color: #cdcdcd;
	font-family: system-ui;
	font-weight: bold;
}

.RDXSECTIONHEADER{
    font-size: 12px;
    font-weight: 800;
    background: -webkit-linear-gradient(    45deg, #f9c58d, #f492f0 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    position: relative;
    font-family: sans-serif;
    font-weight: 1000;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}



 .RDXTOPBAR.clicked .RDXMENUDIVIDER{
  visibility: visible;
}

.RDXEVENTSCARD {
  width: 360px;
  height: 90px;
  background-color: #FFFFFF;
  position: relative;
  background: rgba( 0, 0, 0, 0.3 );
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 17%);
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.RDXEVENTSCARD-HEADER {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-transform: capitalize;
  color: #5de8ac;
  position: relative;
  top: 7px;
  left: 10px;
}

.RDXEVENTSCARD-ITEMNAME {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-style: italic;
  text-transform: capitalize;
  color: #c1ffe4;
  position: relative;
  top: 7px;
  left: 10px;
}

.RDXEVENTSCARD-TIME {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 1000;
  text-transform: capitalize;
  color: #c1ffe4;
  position: absolute;
  top: 15px;
  right: 15px;
}

.RDXEVENTSCARD-TIMECAPTION {
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 1000;
  text-transform: capitalize;
  color: #c1ffe4;
  position: absolute;
  top: 40px;
  right: 15px;
}
