.mapboxgl-ctrl-logo {
    display: none !important;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
    display: none !important;
}

.mapboxgl-ctrl-group {
    border-radius: 4px !important;
    background: rgba(0, 0, 0, 0.18) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
}

.mapboxgl-ctrl-group button+button {
    border-top: 1px solid rgba(255, 255, 255, 0.08) !important;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
    background-image: url(data:image/svg+xml;charset=utf8,<svg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27>%0A%20%20<path%20style%3D%27fill%3A%23FFF%3B%27%20d%3D%27M%2010%206%20C%209.446%206%209%206.4459904%209%207%20L%209%209%20L%207%209%20C%206.446%209%206%209.446%206%2010%20C%206%2010.554%206.446%2011%207%2011%20L%209%2011%20L%209%2013%20C%209%2013.55401%209.446%2014%2010%2014%20C%2010.554%2014%2011%2013.55401%2011%2013%20L%2011%2011%20L%2013%2011%20C%2013.554%2011%2014%2010.554%2014%2010%20C%2014%209.446%2013.554%209%2013%209%20L%2011%209%20L%2011%207%20C%2011%206.4459904%2010.554%206%2010%206%20z%27%20%2F>%0A<%2Fsvg>%0A) !important;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
    background-image: url(data:image/svg+xml;charset=utf8,<svg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27>%0A%20%20<path%20style%3D%27fill%3A%23FFF%3B%27%20d%3D%27m%207%2C9%20c%20-0.554%2C0%20-1%2C0.446%20-1%2C1%200%2C0.554%200.446%2C1%201%2C1%20l%206%2C0%20c%200.554%2C0%201%2C-0.446%201%2C-1%200%2C-0.554%20-0.446%2C-1%20-1%2C-1%20z%27%20%2F>%0A<%2Fsvg>%0A) !important;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon {
    filter: brightness(100000%);
}

.carmarker {
    background-image: url('ParkedCar.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    position: relative !important;
    color: #FFF !important;
    background: rgba(6, 6, 6, 0.37) !important;
    border: 1px solid rgba(255, 255, 255, 0.04) !important;
    border-radius: 10px !important;
    -webkit-backdrop-filter: blur(15px) !important;
    backdrop-filter: blur(15px) !important;
    box-shadow: 0 1px 2px rgb(0 0 0/10%) !important;
    padding: 5px 10px 5px !important;
    top: 18px !important;
    pointer-events: auto;
}

.mapboxgl-popup-close-button {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    background-color: transparent;
    color: #FFF !important;
    outline: none;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    align-self: center;
    border-bottom: none;
    border-top-color: rgba(255, 255, 255, 0) !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    align-self: center;
    border-top: none;
    border-bottom-color: rgba(255, 255, 255, 0) !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    align-self: center;
    border-top: none;
    border-left-color: rgba(255, 255, 255, 0) !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    align-self: center;
    border-top: none;
    border-right-color: rgba(255, 255, 255, 0) !important;
}

.mapboxgl-ctrl-geocoder {
    font-size: 18px;
    line-height: 24px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, Helvetica, sans-serif;
    position: relative;
    background-color: #fff;
    width: 100%;
    min-width: 240px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.18) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    border: 1px solid rgba(255, 255, 255, 0.16) !important;
    border-radius: 8px !important;
    transition: width .25s, min-width .25s;
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder .suggestions {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .0) !important;
}

.mapboxgl-ctrl-geocoder--icon {
    display: inline-block;
    vertical-align: middle;
    speak: none;
    fill: #ffffff !important;
    top: 15px;
}

.mapboxgl-ctrl-geocoder--input {
    height: 36px;
    padding: 6px 35px;
    color: #FFF !important;
    outline: none !important;
}

.mapboxgl-ctrl-geocoder--button {
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0) !important;
    line-height: 1;
}

.mapboxgl-ctrl-geocoder--powered-by {
    font-size: 11px !important;
    display: none !important;
}

.mapboxgl-ctrl-geocoder .suggestions {
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 4px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 110%;
    top: calc(100% + 6px);
    z-index: 1000;
    overflow: hidden;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.18) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
}

.mapboxgl-ctrl-geocoder--suggestion-title,
.mapboxgl-ctrl-geocoder--suggestion-address {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #FFF !important;
}

.mapboxgl-ctrl-geocoder .suggestions>.active>a,
.mapboxgl-ctrl-geocoder .suggestions>li>a:hover {
    color: #404040;
    background-color: rgba(0, 0, 0, 0.21) !important;
    text-decoration: none;
    cursor: pointer;
}

.routrMenuButton {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 10px 10px 0;
    float: right;
    background: #FFF;
    width: 29px;
    height: 29px;
    display: block;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px !important;
    background: rgba(0, 0, 0, 0.18) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center !important;
    user-select: none !important;
    z-index: 99999999;
    transition: 150ms;
}

.routrMenuButton.clicked {
    width: 400px;
    height: 450px;
    background: rgba(0, 0, 0, 0.31) !important;
    backdrop-filter: blur(15px) !important;
    -webkit-backdrop-filter: blur(15px) !important;
    border-radius: 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none !important;
    transition: 150ms;
}

.routrMenuButton.clicked #menuButtonIcon {
    display: none !important;
}

.routrMenuContainer {
    display: none;
    user-select: none !important;
}

.routrMenuButton.clicked .routrMenuContainer {
    display: contents;
    user-select: none !important;
}


.routrParkButton {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    user-select: none;
    position: absolute;
    top: 40px;
  }
  
  .routrParkButton:hover {
    background-color: #6ad5ff;
    box-shadow: 0px 0px 20px #6ad5ffb1;
    color: #fff;
    transform: translateY(-7px);
  }
  
  .routrParkButton:active {
    transform: translateY(-1px);
  }

  .routrContainerTitle {
    color: rgba(255, 255, 255, 0.658);
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: 2px;
  }